body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffca91;
    font-family: 'Abril Fatface', cursive;
}

#chair {
    width: 100%;
    overflow: hidden;
    height: 900px;
}

#something {
    width: 100%;
    overflow: hidden;
}

#container-black {
    background-color: black;
    width: 100%;
    height: 500px;
}

#container-primary {
    background-color: #ffca91;
    width: 100%;
}

.title{
    margin-top: 200px;
    text-align: center;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    background-color: transparent;
}

.copyright{
    text-align: center;
    color: #8a633a;
    padding-bottom: 20px;
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#loading-spinner .spinner-border {
    width: 4rem;
    height: 4rem;
}

#loading-spinner,
#content {
    opacity: 0;
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

#loading-spinner.visible,
#content.visible {
    opacity: 1;
}

